@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

:root{
    --cor-primaria: #151E59;
    --cor-secundaria: #00A281;
    --cor-borda: #BBBBBB;

    --font-size-24px: 24px;
}

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*body*/

body{
    font-size: 100%;
    background: linear-gradient(290.64deg, #FFFFFF 17.15%, #F9EBC1 136.41%);
    box-sizing: border-box;
}

/*header*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 36px 100px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid var(--cor-borda);
    background: linear-gradient(290.64deg, #FFFFFF 17.15%, #F9EBC1 136.41%);
}

.cabecalho-logo{
    height: 65px;
}

.cabecalho-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: fit-content;
}

.cabecalho-itens{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-24px);
    font-weight: 600;
    color: var(--cor-primaria);
    line-height: 36px;
    width: fit-content;
}

.calltoaction{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-24px);
    font-weight: 600;
    color: var(--cor-primaria);
    line-height: 36px;
    padding: 14px;
    border: 3px solid var(--cor-secundaria);
    border-radius: 18px;
}

.calltoaction:hover{
    font-family: 'Poppins', sans-serif;
    font-size: var(--font-size-24px);
    font-weight: 600;
    color: var(--cor-primaria);
    line-height: 36px;
    padding: 14px;
    border: 3px solid var(--cor-secundaria);
    border-radius: 18px;
    background: var(--cor-secundaria);
}

/* Main */

.conteudo{
    box-sizing: border-box;
}

.conteudo__quemsomos{
    display: flex;
    flex-direction: column;

    justify-content: center;
    padding: 80px 100px;
    gap: 48px;
    border-bottom: 1px solid var(--cor-borda);
}

.conteudo__quemsomos__titulo{
    display: flex;
    align-items: center;
    gap: 28px;
}

.conteudo__quemsomos__titulo__texto{
    font-family: 'Poppins', sans-serif;
    font-size: 48px;
    font-weight: 600;
    color: var(--cor-secundaria);
}

.conteudo__quemsomos__conteudo{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 50px;
}

.conteudo__quemsomos__conteudo__texto{
    font-family: 'Poppins';
    font-weight: 500;
    font-size: var(--font-size-24px);
    text-align: justify;
    color: var(--cor-primaria);
    width: 630px;
}

.conteudo__quemsomos__textodestaque{
    text-align: center;
}

.conteudo__quemsomos__textodestaque__texto{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: var(--cor-primaria);
}

/* Footer */

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 100px;
}

.rodape__logodireitos{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rodape__logodireitos__imagem{
    width: 40px;
}

.rodape__logodireitos__texto{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: var(--cor-secundaria);
}

.rodape__icones{
    display: flex;
    align-items: center;
    gap: 28px;
}

.fa-brands{
    font-size: var(--font-size-24px);
    color:var(--cor-secundaria);
}
