@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*body*/

body{
    font-size: 100%;
    background: linear-gradient(290.64deg, #FFFFFF 17.15%, #F9EBC1 136.41%);
    box-sizing: border-box;
}

/*header*/

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 36px 100px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #BBBBBB;
    background: linear-gradient(290.64deg, #FFFFFF 17.15%, #F9EBC1 136.41%);
}

.cabecalho-logo{
    height: 65px;
}

.cabecalho-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 32px;
    width: fit-content;
}

.cabecalho-itens{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1E2358;
    line-height: 36px;
    width: fit-content;
}

.calltoaction{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1E2358;
    line-height: 36px;
    padding: 14px;
    border: 3px solid #00A281;
    border-radius: 18px;
}

.calltoaction:hover{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #1E2358;
    line-height: 36px;
    padding: 14px;
    border: 3px solid #00A281;
    border-radius: 18px;
    background: #00A281;
}

/*main*/

.conteudo{
    box-sizing: border-box;
}
/*section1*/

.conteudo-principal{

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 12px 100px;
    gap: 303px;
    border-bottom: 1px solid #BBBBBB;
}

.conteudo-calltoaction{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 48px;
    width: 610px;
}

.conteudo-imagem-logo{
    height: 135px;
}

.conteudo-escrito{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #151E59;
}

.conteudo-botao{
    border: none;
    background: #00A281;
    width: 452px;
    height: 100px;
    padding: 14px 74px;
    border-radius: 28px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
}

.conteudo-botao:hover{
    border: none;
    background: #009b7c;
    width: 452px;
    height: 100px;
    padding: 14px 74px;
    border-radius: 28px;

    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #FFFFFF;
}

.conteudo-imagem-mascote{
    height: 718px;
}

/*section2*/

.conteudo-secundario{
    display: flex;
    justify-content: center;
    padding: 88px 0px;;
    border-bottom: 1px solid #BBBBBB ;
}

.conteudo-secundario-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 52px;
}

.conteudo-secundario-titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 36px;
    color: #151E59;
}

.conteudo-secundario-texto-vantagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 44px;
}

.conteudo-secundario-itens{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #151E59;
}

/* Footer */

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 24px 100px;
}

.rodape__logodireitos{
    display: flex;
    align-items: center;
    gap: 8px;
}

.rodape__logodireitos__imagem{
    color: #00A281;
}

.rodape__logodireitos__texto{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #00a281;
}

.rodape__icones{
    display: flex;
    align-items: center;
    gap: 28px;
}

.fa-brands{
    font-size: 24px;
    color:#00A281;
}